[Unit]
Description=Home Door Lock Relay Service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/alex/iot_code/homedoorlocks/python_code/home-door-lock-relay.py

[Install]
WantedBy=multi-user.target
